
.list {
  list-style: none;
  padding-left: 0;
}

.link {
  text-decoration: none;
  color: #000000;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin: 50px 0px 83px 0px;

}

:root {
  /* colors */
  --main-text-color: #757575;
  --accent-color: #2196F3;
  --text-color: #212121;
  --background-color: #FFFFFF;
  --section-color: #F5F4FA;

  /* text */
  --accent-letter-spacing: 0.03em;
  --accent-font-size: 14px;

  /* width */
  --content-width: 1170px;
}

body {
  font-family: 'Roboto', sans-serif;
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--background-color);
}


.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

/* Header */


.header {
  height: 80px;
  width: 1600px;
  border-bottom: 1px solid #ECECEC;
}


.header-container {
  display: flex;
  width: var(--content-width);
  height: 80px;
  margin: 0 auto;
  align-items: center;
}


.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: var(--accent-letter-spacing);
}

.header-logo:focus {
  outline: none;
  opacity: 0.65;
}

.logo-web {
  color: var(--accent-color);
}


.header-menu {
  margin-left: 93px;
}

.menu-list {
  display: flex;
  gap: 50px;
}

/* .menu-item {
} */

.menu-link {
  color: var(--text-color);
}

.menu-link,
.contact-link {
  font-weight: 500;
  font-size: var(--accent-font-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: all 0.5s;
}


.menu-link:hover,
.menu-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
  outline: none;
}

.contact-list {
  display: flex;
  margin-left: auto;
  gap: 50px;
}

/* .contact-item {
  
} */


.contact-icon {
  fill: var(--main-text-color);
}

.contact-icon:hover path,
.contact-icon:focus path {
  outline: none;
}

.contact-link {
  gap: 10px;
  display: flex;
  color: var(--main-text-color);
  align-items: center;
}


.contact-link:hover .contact-icon path,
.contact-link:focus .contact-icon path {
  fill: var(--accent-color)
}


/* Main content */
/* Hero */

.hero {
  height: 600px;
  display: flex;
  justify-content: center;
  background-image: url("../img/hero.jpg");
}

.hero-container {
  height: 600px;
  width: var(--content-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  color: var(--background-color);
}

.hero-button {
  font-family: inherit;
  width: 216px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--background-color);
  cursor: pointer;
  transition: all 0.5s;
}

.hero-button:hover,
.hero-button:focus {
  outline: none;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
}

/* Features */

.features {
  display: flex;
  align-items: center;
  justify-content: center;
}
.features-container {
  margin-top: 94px;
  width: var(--content-width);
}
.features-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* .features-item {
} */


.features-item-box {
  width: 270px;
  height: 120px;
  background: var(--section-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-subtitle {
  font-weight: 700;
  font-size: var(--accent-font-size);
  line-height: 1.14;
  letter-spacing: var(--accent-letter-spacing);
  text-transform: uppercase;
  color: var(--text-color);
  margin-top: 30px;
}
.features-text {
  font-size: var(--accent-font-size);
  letter-spacing: var(--accent-letter-spacing);
  color: var(--main-text-color);
  line-height: 1.71;
}

/* What we do */

.work {
  display: flex;
  justify-content: center;
}
.work-container {
  width: var(--content-width);
}
/* .work-title {
  
} */

.work-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
/* .work-item {
} */

/* Our team */


.team {
  background-color: var(--section-color);
  height: 708px;
  display: flex;
  justify-content: center;

}
/* .team-title {
} */

.team-container {
  width: var(--content-width);
}


.team-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}

.team-item {
  width: 270px;
  height: 428px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
  margin: 0 auto;
  
}
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: var(--accent-letter-spacing);
  color: var(--text-color)
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: var(--accent-letter-spacing);
  color: var(--main-text-color);
}

.team__media-list {
  display: flex;
  padding-top: 16px;
  width: 206px;
  margin: 0 auto;
}
.team__media-item {
  margin: 0 auto;
}

/* .team__media-link {} */


.team__media-icon {
  fill: #AFB1B8;
}

.team__media-icon:hover {
  fill: var(--accent-color);
}


/* Customers */

.customers {
  display: flex;
  justify-content: center;
  height: 350px;

}
.customers-container {
  margin: 0 auto;
  margin-bottom: 94px;
}
.customers-title {
  margin-bottom: 50px;
}

.customers-list {
  display: flex;
  gap: 30px;

}
/* .customers-item {
}
.customers-link {
}
.customers-icon {

} */


/* PORTFOLIO PAGE */

.portfolio {
  width: 1202px;
  height: 1360px;
  margin: 94px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.buttons-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 34px;
  
}

.buttons-item {
  font-family: inherit;
  font-weight: 500;
  padding: 6px 22px;
  font-size: 16px;
  line-height: 1.62;
  height: 38px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--text-color);
  background-color: #F5F4FA;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttons-item:hover,
.buttons-item:focus {
  background-color: var(--accent-color);
  color: var(--primery-color);
}

.portfolio-list {
  width: 1200px;
  height: 1360px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  width: 370px;
  height: 404px;
  border: 1px solid #EEEEEE;
}

.portfolio-item a:visited {
  box-shadow: red;;
}

.portfolio-item:hover {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* .portfolio-link {
} */

.portfolio-subtitle {
  width: 322px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
  color: var(--text-color)
}

.portfolio-text {
  width: 322px;
}

.portfolio-subtitle:hover,
.portfolio-text:hover {
  color: var(--accent-color);
}

.portfolio-subtitle,
.portfolio-text {
  margin-left: 24px;
}


/* Footer */

.footer {
  height: 252px;
  background-color: #2F303A;

}
.footer-container {
  width: var(--content-width);
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  margin: 0 auto;
  
}
/* .container-adress {
} */

.address {
  font-style: inherit;

}
.logo {
  color:var(--background-color)
}
.footer-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: var(--accent-letter-spacing);
}

/* .logo-web {
} */


.footer-list {
  width: 231px;
  height: 81px;
}

/* .footer-item {
} */

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--accent-letter-spacing);
  color: rgba(255, 255, 255, 0.6);
}

.map-link {
  color: var(--background-color)
}

/* .container-join {
} */

.container-join p, 
.container-subscription p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.13;
  letter-spacing: var(--background-color);
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: var(--accent-letter-spacing);
}

.join__list {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 20px;
}

.join__list-icon {
  fill: var(--background-color)
}

.join__list-icon:hover,
.join__list-icon:focus {
  fill: var(--accent-color);
}


/* .container-subscription {
} */

.subscription-form {
  display: flex;
}

.subscription-form button {
  display: flex;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  justify-content: center;
  gap: 10px;
}

.subscription-form button:focus,
.subscription-form button:hover {
  opacity: 0.85;
  
}

input {
  padding-left: 20px;
  font-size: 18px;
  font-family: inherit;
  line-height: 1.25;
  color: var(--primery-text-color);
}

input[type="email"] {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  background-color:  transparent;
}

input[type="email"]:hover {
  border-color:rgba(255, 255, 255, 0.6);
}

